<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title><{$Project.name}></title>
        <meta name="description" content="<{$Project.name}>">
        <meta name="”format-detection”" content="telephone=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta content="email=no" name="format-detection">
        <meta content="telephone=no" name="format-detection">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0">
        <link href="__PUBLIC__/v2/bootstrap/bootstrap.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="__PUBLIC__/v2/font-awesome-4.7.0/css/awesome.css">
        <link href="__PUBLIC__/v2/css/style.css" rel="stylesheet" media="screen">
        <link href="__PUBLIC__/v2/css/wapstyle.css" rel="stylesheet" media="screen">
        <link href="__PUBLIC__/v2/css/votestyle.css" rel="stylesheet" media="screen">
        <link href="http://m130862.mustfollow.ax.mvote.net/favicon.ico" type="image/x-icon" rel="icon">
        <link href="http://m130862.mustfollow.ax.mvote.net/favicon.ico" type="image/x-icon" rel="shortcut icon">
        <script src="__PUBLIC__/v2/js/jquery.js"></script>
        <script type="text/javascript" src="__PUBLIC__/v2/js/wxvote.js"></script>
        <link href="__PUBLIC__/v2/css/wapstyle_orange.css" rel="stylesheet" media="screen">
        <style>.searchbar{ background-image: url("__PUBLIC__/v2/img/alphabg.png"); bottom: 0; height: 56px; left: 0; margin-top: 20px; padding-left: 2.5%; padding-top: 24px; position: fixed; width: 100%; } .topbar a{text-decoration:none;}</style>
    </head>
    <body class="weixinstyle">
        <div class="wapwrap">
            <div class="topbar">
                <a href="<{:U('index')}>">
                    <i class=" icon-angle-left"></i>返回
                </a>
            </div>
            <div class="container bodycontainer">
                <div class="votetitle">
                    <h4><{$Project.name}></h4></div>
                <div class="blockcell">
                    <i class="icon-time"></i>活动截止时间：<{$Project.endtime}></div>
                <div class="blockcell">
                    <i class="icon-warning-sign"></i>投票规则：<{$Project.voteway}></div>
                <div class="voteoplist">
                    <div class="plistleft leftoptions">
                    	<foreach name="User" item="vo">
	                        <div class="wxop">
	                            <div class="wxopimg ">
	                                <a href="<{:U('userInfo',array('huid' => $vo['huid']))}>">
	                                    <img src="<{$vo.perpic}>" alt="<{$vo.lables}>" >
	                                </a>
	                            </div>
	                            <div class="wxoptxt">
	                                <a href="<{:U('userInfo',array('huid' => $vo['huid']))}>"><{$vo.huid}>.【<{$vo.personame}>】 <{$vo.lables}></a>
	                            </div>
	                            <div class="wxopvotediv">
	                                <div class="wxvbtn">
	                                    <button class="btn btn-info my_wxvotebutton" data-itid="<{$vo.huid}>">
	                                        <i class="icon-thumbs-up"></i>投票
	                                    </button>
	                                </div>
	                                <div class="wxvinfo">
	                                    <span><{$vo.daynums}></span>票
	                                </div>
	                            </div>
	                        </div>
                        </foreach>
                    </div>
                </div>
            </div>
            <div class="followalert followalertnew dofollowalert" style="display: none;">
                <div class="falertbox1" style="text-align:center;top: 156px;padding: 10px 0px 20px;">
                    <h3 class="h3"><strong>身份验证</strong></h3>
                    <p>首次投票需进行身份证后六位验证！</p>
                    <p class="p1">&nbsp;&nbsp;
                                                                         姓名：<input id="personame"  style="margin:15px 0px 5px;height: 25px;border:0;border-radius: 5px;background-color: #ddd;"><br>
                   	            身份证：<input id="joinflag"  style="margin:5px 0px 10px;height: 25px;border:0;border-radius: 5px;background-color: #ddd;"><br>
                   		<button type="button" id="verify_button" style="width: 68px;height: 30px; border:0;border-radius: 5px;color:#fff;background-color: #f90;">提交</button>
                    </p>
                    <p class="p1">
                        <a id="cancelfollowalert" class="btn-link"></a>
                    </p>
                </div>
            </div>
            <div class="wapalert" style="display:none;">
                <p class="msg_title"></p>
                <p class="msg_content" style="font-size: 18px;line-height: 18px;"></p>
            </div>
            <div class="footer footerwap" style="margin-bottom:60px;"></div>
            <div class="searchbar">
                <form method="post" class="form-inline" action="<{:U('search')}>">
                    <input type="text" name="keyword" value="" class="input-medium" placeholder="请输入作品名称或编号" id="searchkeyword">
                    <button type="submit" class="btn btn-info" style="width:80px;">
                        <i class="icon-search"></i>搜索
                    </button>
                </form>
            </div>
            <script>
		        var vote_url = "<{:U('clickVote')}>";
		    	var verify_url = "<{:U('Verify')}>";
	    	</script>
        </div>
    </body>
</html>